<a href="https://colab.research.google.com/github/nikdrako/Machine-learning-projects/blob/main/hw_pandas_ukr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br>

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнє завдання № 1 (демо).<br> Аналіз даних доходів населення UCI Adult</center>

**В завданні пропонується за допомогою Pandas дати відповідь на кілька запитань по даним репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).**

Унікальні значення ознак:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків и жінок (ознака *sex*) представлено в цьому наборі даних?**

In [ ]:
male = pd.value_counts(data['sex']).get('Male')
female = pd.value_counts(data['sex']).get('Female')
print(f'Чоловіків: {male}, Жінок: {female}')

Чоловіків: 21790, Жінок: 10771

<ipython-input-42-5c3a1a76b318>:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  male = pd.value_counts(data['sex']).get('Male')
<ipython-input-42-5c3a1a76b318>:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  female = pd.value_counts(data['sex']).get('Female')

Оскільки pandas.value_counts буде замінена, то заміняю на новішу функцію.

In [ ]:
#1
male, female = data['sex'].value_counts()
print(f'Чоловіків: {male}, Жінок: {female}')
#2
male = data['sex'].value_counts().get("Male")
female = data['sex'].value_counts().get("Female")
print(f'Чоловіків: {male}, Жінок: {female}')
#3
male = 0
female = 0
male = pd.Series(data['sex']).value_counts(dropna=True).get('Male')
female = pd.Series(data['sex']).value_counts(dropna=True).get('Female')
print(f'Чоловіків: {male}, Жінок: {female}')
#4
data['sex'].value_counts(dropna=False)

Чоловіків: 21790, Жінок: 10771
Чоловіків: 21790, Жінок: 10771
Чоловіків: 21790, Жінок: 10771

sex
Male      21790
Female    10771
Name: count, dtype: int64

Який із Варіантів буде найкращим?

**2. Який середній вік (ознака *age*) жінок?**

In [ ]:
#1
average = data['age'].where(data['sex'] == 'Female').mean(axis = 0, skipna = True)
print(f'Середній вік (ознака age) жінок: {average}')
#2
average = data[data['sex'] == 'Female']['age'].mean(axis = 0, skipna = True)
print(f'Середній вік (ознака age) жінок: {average}')

Середній вік (ознака age) жінок: 36.85823043357163
Середній вік (ознака age) жінок: 36.85823043357163

**3. Яка доля громадян Німеччини (ознака *native-country*)?**

In [ ]:
germany_livers = data['native-country'].value_counts(normalize=True).get('Germany')
print(f'Доля громадян Німеччини (ознака native-country):{germany_livers}')

Доля громадян Німеччини (ознака native-country):0.004207487485028101

**4-5. Які средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік (ознака *salary*) і тих, хто отримує менше 50K на рік?**

In [ ]:
#1
print(data.value_counts(data['salary']))

average_under50k = data['age'].where(data['salary'] == '<=50K').mean(skipna = True)
average_over50k = data['age'].where(data['salary'] == '>50K').mean(skipna = True)

print(f'Середнє значення віку, тих хто заробляє менше 50к : {average_under50k}')
print(f'Середнє значення віку, тих хто заробляє більше 50к : {average_over50k}')

std_under50k = data['age'].where(data['salary'] == '<=50K').std(skipna = True)
std_over50k = data['age'].where(data['salary'] == '>50K').std(skipna = True)

print(f'Середнє значення средньоквадратичні відхилення, тих хто заробляє менше 50к : {std_under50k}')
print(f'Середнє значення средньоквадратичні відхилення, тих хто заробляє менше 50к : {std_over50k}')

print('////////////////////////////')
#2
mean_under50k, std_under50k = data[data['salary'] == '<=50K']['age'].describe().loc[['mean','std']]
mean_over50k, std_over50k= data[data['salary'] == '>50K']['age'].describe().loc[['mean','std']]

print(f'Середнє значення віку {mean_under50k} та відхилення {std_under50k}, тих хто заробляє менше 50к')
print(f'Середнє значення віку {mean_over50k} та відхилення {std_over50k}, тих хто заробляє більше 50к')
print('////////////////////////////')

#3
grouped = data.groupby('salary')['age'].mean()
grouped2 = data.groupby('salary')['age'].std()

print(grouped,grouped2)

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64
Середнє значення віку, тих хто заробляє менше 50к : 36.78373786407767
Середнє значення віку, тих хто заробляє більше 50к : 44.24984058155847
Середнє значення средньоквадратичні відхилення, тих хто заробляє менше 50к : 14.020088490824813
Середнє значення средньоквадратичні відхилення, тих хто заробляє менше 50к : 10.51902771985177
////////////////////////////
Середнє значення віку 36.78373786407767 та відхилення 14.020088490824813, тих хто заробляє менше 50к
Середнє значення віку 44.24984058155847 та відхилення 10.51902771985177, тих хто заробляє більше 50к
////////////////////////////
salary
<=50K    36.783738
>50K     44.249841
Name: age, dtype: float64 salary
<=50K    14.020088
>50K     10.519028
Name: age, dtype: float64

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
hipotethes = data['education'].where(data['salary'] == '>50K').isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])
print("Гіпотеза", hipotethes.all())

Гіпотеза False

**7. Порахуйте статистику віку для кожної раси (ознака *race*) і кожної статі. Використайте *groupby* и *describe*. Знайдіть таким сином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [ ]:
max_amer_indian = data.groupby('race')['age'].describe().get('max').get('Amer-Indian-Eskimo')
print(f'максимальний вік чоловіків раси Amer-Indian-Eskimo: {max_amer_indian}')

максимальний вік чоловіків раси Amer-Indian-Eskimo: 82.0

**8. Серед кого більша доля багатіших (>50K): серед одружених чи не одружених чоловіків (ознака *marital-status*)? За одружених вважаємо тих, у кого *marital-status* починається із *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), всі інші - не одружені.**

In [ ]:
bigger_part = data['marital-status'].str.startswith('Married').where(data['salary'] == '>50K').value_counts(normalize=True)
bigger_part

marital-status
True     0.859074
False    0.140926
Name: proportion, dtype: float64

**9. Яку максимальну кількість годин в тиждень працює людина (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який відсоток серед них багатих?**

In [ ]:
max_hours = data.describe().get('hours-per-week').get('max')
num_people = (data['hours-per-week'] == max_hours).sum()
rich_percentage = (data['salary'][data['hours-per-week'] == max_hours] == '>50K').mean() * 100
print(rich_percentage,'%')

29.411764705882355 %

**10. Порахуйте середню тривалість роботи на тиждень (*hours-per-week*) серед багатих і бідних (*salary*) для кожної країни (*native-country*).**

In [ ]:
avg_hours = data.groupby(['native-country', 'salary'])['hours-per-week'].mean().unstack()
print(avg_hours)

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000